body{
    color: #3e4d5c;
    font: 400 13px 'Open Sans', Arial, sans-serif;
    background-color: #364150;
    overflow-x: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

li {
    list-style: none;
}

a {
    color: #3e4d5c;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a:active, a:focus {
    outline: none;
    text-decoration: none;
}

.logo {
    margin: 60px auto 0;
    padding: 15px;
    text-align: center;
}

.content {
    background-color: #ECEEF1;
    border-radius: 7px;
    margin: 40px auto 10px;
    overflow: hidden;
    padding: 10px 30px 30px;
    position: relative;
    width: 400px;
}

.content h3 {
    color: #364150;
    font-size: 28px;
    font-weight: 400 !important;
    text-align: center;
}

.form-title {
    font-weight: 300;
    margin-bottom: 25px;
}

.login-form {
    margin: 0;
    padding: 0;
}

.form-control {
    background-color: #dde3ec;
    border: 1px solid #dde3ec;
    color: #8290a3;
    height: 43px;
    box-shadow: none;
}

.btn-success{
    font-weight: 300;
    font-size: 18px;
    padding: 5px 20px !important;
}

#forget-password {
    font-size: 12px;
    color: #01b7f2;
}

.copyright {
    color: #cdcdcd;
    font-size: 13px;
    margin: 0 auto 30px 0;
    padding: 10px;
    text-align: center;
}

div, input, select, textarea, span, img, table, label, td, th, p, a, button, ul, code, pre, li {
    border-radius: 0 !important;
}

@media (max-width: 767px) {
    .content {
        margin-top: 10px;
        width: 280px;
    }
}