body{
    color: #3e4d5c;
    font: 400 13px 'Open Sans', Arial, sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a:active, a:focus {
    outline: none;
    text-decoration: none;
}

#content{
    padding: 25px 0;
    text-align: left;
}

.box-white {
    background: none repeat scroll 0 0 #fff;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.box-title {
    margin-bottom: 15px;
    margin-top: 0;
    line-height: 1em;
}

h5 {
    font-size: 16px;
}

/*FORM*/
input[type='text'], textarea, select {
    height: 34px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

input[type='text'], textarea, select {
    background-color: #f9f9f9;
    border: 1px solid #c5c5c5;
    line-height: normal;
}

/*BUTTON AREA*/
div.button-area {
    text-align: right;
}

div.button-area.top {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f5f5f5;
}

div.button-area.top h5 {
    float: left;
}

div.button-area .btn {
    background-color: #98ce44;
    border: medium none;
    color: #fff;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    text-align: center;
    white-space: nowrap;
    padding: 0 25px;
    border-radius: 0;
}

@media (max-width: 767px) {
    div.button-area .btn {
        width: 100%;
    }
}

/*SEARCH AREA*/
div.search-area {
    margin-bottom: 20px;
}

div.search-area button {
    background-color: #98ce44;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 34px;
/*    line-height: 50px;*/
    text-align: center;
    white-space: nowrap;
    padding: 0 25px;
    border-radius: 0;
}

div.search-area input[type="text"], div.search-area textarea, div.search-area select {
    padding-left: 5px;
    padding-right: 5px;
}


/*ERROR FORM*/
form div.error, div.error {
    background-color: #d9534f;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    margin: 4px 0 4px 0;
    padding: 5px;
    text-align: left;
}

form input.error, form textarea.error{
    border: 1px solid #D9534F !important;
}

/*FORM SUCCESS*/
form div.success, div.success {
    background-color: #5CB85C;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    padding: 4px;
    margin-top: 5px;
    text-align: left;
}
