#privilege-result {
    background-color: #f9f9f9;
    margin-top: 50px;
    padding: 10px;
}

#privilege-result tr td label {
    margin-bottom: 0 !important;
}

#privilege-result tr td label.checkbox-inline {
    padding: 0;
}

#privilege-result input[type="checkbox"] {
    position: relative;
    margin: 0 5px 0 0;
}

.table-responsive {
    border: none;
}

.table-responsive tr td.action a{
    margin-left: 5px;
}

.table-responsive tr td.action a:first-child{
    margin-left: 0px;
}