.btn-action{
    padding: 5px 10px; 
    font-size:11px;
    display: table;
    margin-bottom: 5px;
}
.btn-action[data-action="add"]{
    font-size: 14px;
}
.datepicker-input-group{
    cursor: pointer;
}