.large-block {
    background: none repeat scroll 0 0 #fff;
    padding: 30px 0 30px 30px;
    position: relative;
    margin-bottom: 70px;
}

.large-block .image-box {
    padding: 0;
}

.large-block .image-box img{
    display: inline;
}

.large-block .image-box .details{
    text-align: center;
}

.large-block .image-box > div {
    padding-left: 0;
}

.box-title small {
    display: block;
    font-size: 10px;
    margin-top: 4px;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .large-block {
        padding: 10px;
    }

    div#content .container{
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
    }
}

@media (max-width: 991px) {
    .large-block.mobile-center{
        text-align: center;
    }

    .large-block .image-box > div {
        padding: 0;
        margin-bottom: 25px;
    }
}
