.activasion-form-box {
    background: none repeat scroll 0 0 #fff;
    margin-bottom: 30px;
    padding: 20px;
}

.activasion-form-box form label {
    display: block;
    font-size: 0.9167em;
    font-weight: normal;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.activasion-form-box form textarea {
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

.activasion-form-box form button {
    background-color: #98ce44;
    border: medium none;
    color: #fff;
    cursor: pointer;
    height: 43px;
    line-height: 43px;
    text-align: center;
    white-space: nowrap;
}

input.input-text,
textarea,
span.custom-select {
    height: 34px;
    padding-left: 15px;
    padding-right: 15px;
}

input.input-text,
select,
textarea,
span.custom-select {
    background: none repeat scroll 0 0 rgb(245, 245, 245);
    border: medium none;
    line-height: normal;
}