.search-box,
.category-box {
    background: none repeat scroll 0 0 #fff;
    margin-bottom: 30px;
    padding: 20px;
}

.tab-pane {
    background: none repeat scroll 0 0 #fff;
    margin-bottom: 30px;
    padding: 20px 20px 30px 20px;
}

.search-box .box-title,
.category-box .box-title{
    margin-top: 0;
    margin-bottom: 15px;
}

.with-icon {
    display: inline-block;
    padding: 0 !important;
    position: relative;
}

.with-icon .input-text {
    padding-right: 40px !important;
}

.with-icon .icon {
    background: none repeat scroll 0 0 #000;
    color: #000;
    font-size: 18px;
    height: auto;
    margin: -17px 0 0 !important;
    padding: 0 !important;
    position: absolute;
    right: 0;
    top: 50%;
    width: 30px;
}

.sidebar button {
    background: none repeat scroll 0 0 rgb(152, 206, 68);
    font-size: 0.9167em;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
}

ul.categories-filter {
    padding: 0;
}

ul.categories-filter li:before {
    background: none repeat scroll 0 0 #d9d9d9;
    color: #fff;
    display: block;
    float: left;
    height: 17px;
    line-height: 16px;
    margin: 10px 10px 0 0;
    padding-left: 1px;
    text-align: center;
    width: 17px;
    font-size: 12px;
    content: "\f00c";
    font-family: "FontAwesome";
    cursor: pointer;
}

ul.categories-filter li {
    border-bottom: 1px solid #f5f5f5;
    padding: 0;
    margin-bottom: 1px;
}

ul.categories-filter li a {
    color: inherit;
    display: block;
    font-size: 11px;
    padding: 11px 0;
    text-transform: uppercase;
}

ul.categories-filter li small {
    float: right;
    font-size: 85%;
}

.tab-container-box ul.tabs:after {
    clear: both;
    content: "";
    display: table;
}

.tab-container-box ul.tabs {
    display: block;
}

.tab-container-box ul.tabs {
    margin: 0;
    padding: 0;
}

.tab-container-box ul.tabs.full-width li {
    display: table-cell;
    float: none;
    vertical-align: middle;
    width: 1%;
}

.tab-container-box ul.tabs li {
    float: left;
    padding-right: 4px;
}

.tab-container-box ul.tabs li:last-child {
    padding-right: 0;
}

.tab-container-box ul.tabs.full-width li a {
    padding: 0;
    text-align: center;
}

.tab-container-box ul.tabs li.active > a,
.tab-container-box ul.tabs li:hover > a {
    background: none repeat scroll 0 0 #fff;
    color: #01b7f2;
}

.tab-container-box ul.tabs li a {
    background: none repeat scroll 0 0 rgb(217, 217, 217);
    color: rgb(255, 255, 255);
    display: block;
    font-size: 1em;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.tab-pane .box-title {
    font-size: 13px;
    margin-bottom: 1px;
}

.tab-pane .info {
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    color: #b9b9b9;
}

.tab-pane .info .viewer {
    /*font-weight: bold;*/
}

.tab-pane article {
    border-bottom: 1px solid #f5f5f5;
}

/* RIGHT CONTENT */
.post {
    margin-bottom: 50px;
    position: relative;
}

.post .details {
    background: none repeat scroll 0 0 #fff;
    padding: 20px 20px 10px;
}

.post .entry-title {
    margin-top: 0;
    margin-bottom: 25px;
}

.post .entry-title.without-img {
    margin-top: 25px;
    margin-bottom: 25px;
}

.post .excerpt-container {
    margin-bottom: 20px;
}

.post .excerpt-container p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;
}

.post .post-meta:after {
    clear: both;
    content: "";
    display: table;
}

.post .post-meta {
    background: none repeat scroll 0 0 #f5f5f5;
    font-size: 1em;
    padding: 10px 10px 0;
    text-transform: uppercase;
}

.post .entry-date {
    background: none repeat scroll 0 0 #2d3e52;
    color: #fff;
    left: 0;
    padding: 7px 15px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 10px;
    line-height: 15px;
}

.post .entry-date.without-img {
    background: none repeat scroll 0 0 #2d3e52;
    color: #fff;
    left: 0;
    padding: 7px 15px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 10px;
    line-height: 15px;
}

.post .entry-date .date {
    display: block;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}

.post .entry-date.without-img .date {
    display: inline;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
}

.post .entry-date .month {
    font-size: 10px;
    font-weight: normal;
    margin: 0;
}

.post .post-meta .entry-author {
    float: left;
    font-size: 0.83333em;
    line-height: 28px;
    margin-bottom: 10px;
}

.post .post-meta .entry-action {
    float: right;
}

.post .post-meta .entry-action > * {
    background: none repeat scroll 0 0 #fff;
    color: #9e9e9e;
    display: inline-block;
    font-size: 0.8333em;
    font-weight: normal;
    height: 28px;
    letter-spacing: 0.04em;
    line-height: 28px;
    margin-bottom: 10px;
/*        margin-left: 8px;*/
    padding: 0 10px;
}

.post .post-meta .entry-tags span a {
    color: #9e9e9e;
}

.post .post-meta .fa {
    margin-right: 6px;
    color: #9e9e9e;
}

/*RIGHT GRID CONTENT*/
.grid-list-article .box {
    background: none repeat scroll 0 0 #fff;
    margin-bottom: 30px;
    text-align: left;
}

.grid-list-article .box .details {
    padding: 12px 15px;
}

.grid-list-article .box .details h4.box-title{
    color: #2d3e52;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
    height: 14px;
    overflow-y: hidden;
    word-wrap: break-word;
}

.grid-list-article .box .details .info{
    color: #b9b9b9;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 11px;
}

.grid-list-article .box .details .info .date{
    float: left;
}

.grid-list-article .box .details .info .viewer{
    float: right;
}

.grid-list-article .box .details p.description {
    color: #2d3e52;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 12px;
    height: 52px;
    overflow-y: hidden;
    word-wrap: break-word;
}

.grid-list-article .box .details .action > a.button{
    border: medium none;
    background-color: #d9d9d9;
    color: #fff;
    cursor: pointer;
    padding: 5px 15px;
    white-space: nowrap;
    float: right;
}

.grid-list-article .box .details .action > a.button:hover {
    background-color: #98ce44;
}

/* ARTICLE SINGLE */
.post-content {
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 0.02em;
    line-height: 21px;
    margin-bottom: 30px;
}

.post .details {
    margin-bottom: 30px;
}

.post-content blockquote {
    border-left: medium none;
    font-size: 1.2em;
    line-height: 1.4em;
    padding: 20px 20px 20px 40px;
    position: relative;
    text-indent: -19px;
}

.post-content blockquote:before {
    content: open-quote;
}

.post-content blockquote:after {
    content: close-quote;
}

.post-content blockquote:before, 
.post-content blockquote:after {
    font-family: Georgia,serif;
    font-size: 2em;
    line-height: 0;
    vertical-align: middle;
}

.post-content blockquote p {
    font-style: italic;
    display: inline;
}

.single-navigation {
    margin-bottom: 30px;
}

.single-navigation a.button{
    border: medium none;
    background-color: #d9d9d9;
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    line-height: 43px;
    height: 43px;
}

.single-navigation a.button:hover{
    background-color: #98ce44;
}

/*button, a.button {
    border: medium none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 0 15px;
    white-space: nowrap;
}*/

/*CAROUSEL IMAGE FLEXSLIDER*/

.flexslider {
    background-color: transparent !important;
}

.flexslider > ul{
    padding: 0;
}

.flexslider .slides li {
    position: relative;
}

h2{
    margin: 0 0 15px;
}

.image-carousel {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    position: relative;
}

.image-carousel.flexslider {
    margin-bottom: 5px;
}

.image-carousel .slides > li {
    margin-right: 30px;
}

.image-box .box,
.image-box.box {
    background: none repeat scroll 0 0 #fff;
    margin-bottom: 30px;
    text-align: left;
}

.image-box .box > .details,
.image-box.box > .details {
    padding: 12px 15px;
}

.listing-style a.button {
    margin-top: 6px;
}

.image-box a.button {
    background: none repeat scroll 0 0 #d9d9d9;
    display: inline-block;
    font-size: 0.8333em;
    line-height: 1.8333em;
    text-align: center;
    white-space: nowrap;
}

.image-box a.button:hover {
    background: none repeat scroll 0 0 #98ce44;
}

.listing-style .box .box-title {
    margin: 0;
}

.image-box .box .box-title,
.image-box.box .box-title {
    color: rgb(45, 62, 82);
}

.image-box .box .box-title-overflow {
    height: 15px;
    word-wrap: break-word;
    overflow-y: hidden;
}

.box-title {
    line-height: 1em;
    margin-bottom: 0;
}

h4.box-title {
    font-size: 14px;
    text-wrap: none;
}

.price-wrapper {
    color: inherit;
    font-size: 0.8333em;
    font-weight: normal;
    line-height: 1.3333em;
    margin: 0;
    text-transform: uppercase;
}

.price-wrapper .price-per-unit {
    color: #92b946;
    font-size: 1.4em;
    padding-right: 5px;
}

.photo-gallery .flex-direction-nav,
.image-carousel .flex-direction-nav {
    height: 22px;
    position: absolute;
    right: 0;
    top: -37px;
    width: 72px;
}

.photo-gallery .flex-direction-nav li a:before,
.image-carousel .flex-direction-nav li a:before {
    display: block;
    font-family: FontAwesome;
    font-size: 12px;
    line-height: 22px;
    position: absolute;
    text-indent: 0;
}

.photo-gallery .flex-direction-nav li a,
.image-carousel .flex-direction-nav li a {
    background: none repeat scroll 0 0 #01b7f2;
    color: #fff;
    float: left;
    height: 22px;
    margin: 0;
    opacity: 1 !important;
    position: static;
    text-align: left;
    text-indent: -9999px;
    transition: none 1s ease-in-out 0s ;
    width: 30px;
}

.photo-gallery .flex-direction-nav li a.flex-prev,
.image-carousel .flex-direction-nav li a.flex-prev {
    margin-right: 10px;
}

.photo-gallery .flex-direction-nav li a.flex-prev:before,
.image-carousel .flex-direction-nav li a.flex-prev:before {
    content: "\f177";
    left: 8px;
}

.photo-gallery .flex-direction-nav li a.flex-next:before,
.image-carousel .flex-direction-nav li a.flex-next:before {
    content: "\f178";
    right: 9px;
}


/* COMMENT */
.comments-container {
    margin-bottom: 40px;
}

.comment-list {
    background: none repeat scroll 0 0 #fff;
    margin-bottom: 30px;
    padding: 20px;
}

.comment-list .avatar {
    float: left;
    margin-right: 30px;
}

.comment-list .the-comment {
    margin-bottom: 15px;
}

.comment-list > li.comment {
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 15px;
}

.comment-list > li.comment:last_child {
    border-bottom: medium none;
}

.comment-list .box-title {
    margin-bottom: 15px;
}

.comment-list .box-title small {
    color: #838383;
    display: block;
    font-size: 10px;
    margin-top: 4px;
    text-transform: uppercase;
}

/* FORM COMMENT */

.comment-form-box {
    background: none repeat scroll 0 0 #fff;
    margin-bottom: 30px;
    padding: 20px;
}

.comment-form-box form label {
    display: block;
    font-size: 0.9167em;
    font-weight: normal;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.comment-form-box form textarea {
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

.comment-form-box form button {
    background-color: #98ce44;
    border: medium none;
    color: #fff;
    cursor: pointer;
    height: 43px;
    line-height: 43px;
    text-align: center;
    white-space: nowrap;
}

input.input-text,
textarea,
span.custom-select {
    height: 34px;
    padding-left: 15px;
    padding-right: 15px;
}

input.input-text,
select,
textarea,
span.custom-select {
    background: none repeat scroll 0 0 rgb(245, 245, 245);
    border: medium none;
    line-height: normal;
}

@media (max-width: 767px) {
    div#content .container {
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
    }

    .post .details {
        padding: 20px 10px 10px;
    }

    .grid-list-article .box .details {
        padding-left: 5px;
        padding-right: 5px;
    }

    .comment-form-box {
        padding-left: 10px;
        padding-right: 10px;
    }
}