.page-title-container {
    background: #2d3e52;
    height: 56px;
}

.page-title-container .container {
    padding: 0;
}

.page-title-container .page-title .entry-title {
    color: #fff;
    line-height: 56px;
    margin: 0;
}

.breadcrumbs {
    letter-spacing: 0.04em;
}

.page-title-container .breadcrumbs li:after {
    color: #5a7ca3;
    content: "/";
}

.page-title-container .breadcrumbs li:last-child:after {
    content: "";
}

.page-title-container .breadcrumbs li {
    display: inline;
    float: left;
    font-size: 10px;
    line-height: 56px;
    margin-left: 5px;
    text-transform: uppercase;
}

.page-title-container .breadcrumbs li.active {
    color: #fdb714;
}

.page-title-container .breadcrumbs li a {
    color: #fff;
    padding-right: 5px;
}

@media (max-width: 767px) {
    .page-title-container .container {
        padding: 0 15px;
    }
}