.contacus-sidebar{
    background-color: #fff;
    margin-bottom: 30px;
    padding: 20px;
}

.contact-address{
    padding: 0;
    margin-bottom: 25px;
}

.contact-address li:after {
    clear: both;
    content: "";
    display: table;
}

.contact-address li {
    padding: 10px 0 10px 50px;
    border-bottom: 1px solid #f5f5f5;
    position: relative;
}

.contact-address li > span {
    color: #01b7f2;
    font-size: 1.5em;
    left: 0;
    position: absolute;
    top: 12px;
}

.contact-address li h5.title {
    margin: 0 0 5px 0;
}

.contact-address li p {
    font-size: 0.8333em;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #838383;
    line-height: 20px;
    letter-spacing: 0.04em;
}


/*SOCIAL MEDIA SIDEBAR*/
.social-icons.full-width {
    padding: 0;
    margin-bottom: 25px;
}

.social-icons.full-width li {
    display: table-cell;
    float: none;
    margin: 0;
    text-align: center;
    width: 1%;
}

.social-icons.full-width li {
    padding: 10px 0;
    border-bottom: 1px solid #f5f5f5;
    position: relative;
}

.social-icons li > a > span {
    color: #a9a9a9;
}

/*FORM CONTACT US*/
.contactus-form-box {
    background: none repeat scroll 0 0 #fff;
    margin-bottom: 30px;
    padding: 20px;
}

.contactus-form-box form .form-group.row {
    margin-bottom: 0;
}

.contactus-form-box form .form-group.row .for-contactus_email,
.contactus-form-box form .form-group.row .for-contactus_name {
    margin-bottom: 15px;
}

.contactus-form-box form label {
    display: block;
    font-size: 0.9167em;
    font-weight: normal;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.contactus-form-box form textarea {
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

.contactus-form-box form button {
    background-color: #98ce44;
    border: medium none;
    color: #fff;
    cursor: pointer;
    height: 43px;
    line-height: 43px;
    text-align: center;
    white-space: nowrap;
}

input.input-text,
textarea,
span.custom-select {
    height: 34px;
    padding-left: 15px;
    padding-right: 15px;
}

input.input-text,
select,
textarea,
span.custom-select {
    background: none repeat scroll 0 0 rgb(245, 245, 245);
    border: medium none;
    line-height: normal;
}

@media (max-width: 767px) {
    div#content .container {
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
    }
}