#footer .bottom {
    height: auto;
    border-top: 2px solid #d9d9d9;
}
.gray-area {
    background: none repeat scroll 0 0 #fff;
}

#footer .container{
    padding: 0;
}

#footer .bottom .logo {
    margin: 18px 0;
    text-align: left;
    padding: 0;
}

#footer .bottom .logo img {
    height: 20px;
}

#footer .bottom .copyright {
    font-size: 1.0833em;
    margin: 18px 0;
    text-align: right;
    padding: 0;
}

@media (max-width: 767px) {
    #footer .container{
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
    }

    #footer .bottom .logo,
    #footer .bottom .copyright {
        text-align: center;
    }

    #footer .bottom .copyright {
        margin: 7px 0;
        font-size: 11px;
    }
}
