/* 
    Document   : header
    Created on : Sep 19, 2014, 2:07:52 PM
    Author     : Taufan
    Description:
        Purpose of the stylesheet follows.
*/

.topnav {
    background-color: #01b7f2;
    font-size: 10px;
}

#header .topnav .container,
#header .main-header .container,
.chaser .container {
    padding: 0px;
}

#header .topnav ul {
    padding: 0px;
    margin: 0px;
}

#header .topnav ul li {
    float: left;
    line-height: 30px;
    margin-left: 20px;
}

#header .topnav ul li:first-child {
    margin-left: 0px;
}

#header .topnav ul li a {
    color: #fff;
}

#header .topnav ul li a .fa{
    position: relative;
    padding-left: 5px;
}

#header .topnav .ribbon:hover > ul.menu {
    opacity: 1;
    top: 28px;
    left: auto;
    visibility: visible;
}

#header .topnav .ribbon > ul.menu {
    left: -15px;
    position: absolute;
    top: -9999px;
    visibility: hidden;
    z-index: 99;
}

#header .topnav .ribbon ul.menu {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #01b7f2;
    min-width: 180px;
}


#header .topnav ul.menu.mini li {
    float: none;
    margin: 0;
    padding: 0 20px;
}
#header .topnav ul.menu.mini li a {
    border-bottom: 1px solid #f5f5f5;
    color: inherit;
    display: block;
    font-size: 10px;
    line-height: normal;
    padding: 10px 0;
    text-align: left;
}
#header .topnav ul.menu.mini li:hover, #header .top-nav ul.menu.mini li.active {
    background: none repeat scroll 0 0 #f5f5f5;
}
#header .topnav ul.menu.mini li:hover a, #header .top-nav ul.menu.mini li.active a {
    color: #01b7f2;
    font-weight: bold;
}


#header .main-header {
    height: auto;
    position: relative;
    width: 100%;
}

#header .main-header .mobile-menu-toggle {
    background-color:#red;
    bottom: 0;
    display: none;
    height: 66px;
    margin: 0;
    padding: 22px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 0;
    width: 66px;
}

#header .main-header .logo {
    height: auto;
    margin: 18px 0 0;
    padding: 0;
    text-align: left;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 15px;
}

#header .main-header #main-menu ul.menu, .chaser ul.menu {
    float: right;
    margin: 0;
}

#header .main-header #main-menu .navbar-collapse {
    padding: 0px;
    border-top: none;
}

#header .main-header #main-menu ul.menu > li > a {
    display: block;
    font-weight: normal;
    height: 68px;
    letter-spacing: 0.04em;
    line-height: 68px;
    padding: 0;
    text-transform: uppercase;
}

#main-menu ul.menu > li > a:hover{
    background-color: inherit;
    color: #01b7f2;
    border-bottom: 2px solid #01b7f2;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: inherit;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: inherit;
    text-decoration: none;
}

#header .main-header #main-menu ul.menu > li, .chaser ul.menu > li {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

#header .main-header #main-menu ul.menu > li:first-child,
.chaser ul.menu > li:first-child  {
    padding-left: 0;
}

#header .main-header #main-menu ul.menu > li:last-child,
.chaser ul.menu > li:last-child {
    padding-right: 0;
}

#main-menu .menu .dropdown-menu > li,
.chaser .menu .dropdown-menu > li {
    padding: 0 15px !important;
}

.menu .dropdown {
    position: static !important;
}

.menu .dropdown .dropdown-menu{
    margin: 0 20px;
    padding: 10px 0px;
    left: auto;
    right: 0;
}

.menu .dropdown-menu ul{
    padding-left: 0px;
}

.menu .dropdown-menu > li{
    margin-bottom: 10px;
}

.menu .dropdown-menu .divider {
    margin: 5px 0;
}

.menu .dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.menu .dropdown-menu > li > ul > li {
    list-style: none;
}

.menu .dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 0;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: normal;
    min-width: 150px;
    font-size: 12px;
}

.menu .dropdown-menu > li > ul > li.dropdown-header a{
    color: #01b7f2;
    font-size: 12px;
    padding: 3px 10px 0 0;
}

.menu .dropdown-menu > li ul > li > a:hover {
    text-decoration: none;
    color: #01b7f2;
    background-color: #f9f9f9;
}

.menu .dropdown-header{
    padding: 0px;
}

.menu li.dropdown:hover ul.dropdown-menu{
    display: block;
}


/* MENU VERSI MOBILE */
#main-menu .menu-mobile {
    background-color: #01b7f2;
    margin: 0 0 15px 0;
}

#main-menu .menu-mobile li > a{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

#main-menu .menu-mobile ul.dropdown-menu {
    padding: 0px;
    margin: 0px 15px 0 15px;
    background-color: #f9f9f9;
}

#main-menu .menu-mobile ul.dropdown-menu li > a{
    color: #b9b9b9;
    display: block;
    font-weight: normal;
}

#main-menu .menu-mobile ul.dropdown-menu li.dropdown-header > a{
    color: #a9a9a9;
    display: block;
    font-weight: bold;
}

#main-menu .menu-mobile ul.dropdown-menu > li,
#main-menu .menu-mobile ul.dropdown-menu > li > ul {
    padding: 0px;
    margin-bottom: 20px;
}

.menu-mobile .dropdown-menu li > ul > li.dropdown-header,
.menu-mobile .dropdown-menu li > ul > li {
    padding: 7px 10px !important;
}

.menu-mobile .dropdown-menu li > ul > li.divider {
    padding: 0 !important;
    margin: 0 10px;
}

.btn-toggle-mobile{
    border-radius: 0px;
    padding: 17px 15px 17px 15px;
    margin: -1px 0 0 0;
    background-color: #01b7f2;
    color: #fff;
}

@media (max-width: 767px) {
    .dropdown-menu-large {
        margin-left: 0 ;
        margin-right: 0 ;
    }
    .dropdown-menu-large > li {
        margin-bottom: 30px;
    }
    .dropdown-menu-large > li:last-child {
        margin-bottom: 0;
    }
    .dropdown-menu-large .dropdown-header {
        padding: 3px 15px !important;
    }
    #header .main-header .logo{
        padding-left: 15px;
    }
}