/* 
    Document   : home
    Created on : Sep 22, 2014, 9:47:10 PM
    Author     : topan
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.flexslider {
    background-color: transparent !important;
}

.flexslider > ul{
    padding: 0;
}

.slider-box .flex-control-nav {
    bottom:10px !important;
}

.slider-box .flex-control-nav li a{
    background-color:#f9f9f9 !important;
}

.slider-box .flex-control-nav li a.flex-active{
    background-color:#a3a3a3 !important;
}

.flex-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 20px;
    color: white;
    font-size: 18px;
    text-align: center;
    background-color: #01b7f2;
    width: 100%;
    opacity: 0.5;
}

.flexslider .slides li {
    position: relative;
}

/* CONTENT CSS */
h2{
    margin: 0 0 15px;
}

.image-carousel {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    position: relative;
}

.image-carousel.flexslider {
    margin-bottom: 40px;
}

.image-carousel .slides > li {
    margin-right: 30px;
}

.image-box .box, 
.image-box.box {
    background: none repeat scroll 0 0 #fff;
    margin-bottom: 30px;
    text-align: left;
}

.image-box .box > .details, 
.image-box.box > .details {
    padding: 12px 15px;
}

.listing-style a.button {
    margin-top: 6px;
}

.image-box a.button {
    background: none repeat scroll 0 0 #d9d9d9;
    display: inline-block;
    font-size: 0.8333em;
    line-height: 1.8333em;
    text-align: center;
    white-space: nowrap;
}

.image-box a.button:hover {
    background: none repeat scroll 0 0 #98ce44;
}

.listing-style .box .box-title {
    margin: 0;
}

.image-box .box .box-title, 
.image-box.box .box-title {
    color: rgb(45, 62, 82);
}

.image-box .box .box-title-overflow {
    height: 15px; 
    word-wrap: break-word; 
    overflow-y: hidden;
}

.box-title {
    line-height: 1em;
    margin-bottom: 0;
}

h4.box-title {
    font-size: 14px;
    text-wrap: none;
}

.price-wrapper {
    color: inherit;
    font-size: 0.8333em;
    font-weight: normal;
    line-height: 1.3333em;
    margin: 0;
    text-transform: uppercase;
}

.price-wrapper .price-per-unit {
    color: #92b946;
    font-size: 1.4em;
    padding-right: 5px;
}

.photo-gallery .flex-direction-nav,
.image-carousel .flex-direction-nav {
    height: 22px;
    position: absolute;
    right: 0;
    top: -37px;
    width: 72px;
}

.photo-gallery .flex-direction-nav li a:before,
.image-carousel .flex-direction-nav li a:before {
    display: block;
    font-family: FontAwesome;
    font-size: 12px;
    line-height: 22px;
    position: absolute;
    text-indent: 0;
}

.photo-gallery .flex-direction-nav li a,
.image-carousel .flex-direction-nav li a {
    background: none repeat scroll 0 0 #01b7f2;
    color: #fff;
    float: left;
    height: 22px;
    margin: 0;
    opacity: 1 !important;
    position: static;
    text-align: left;
    text-indent: -9999px;
    transition: none 1s ease-in-out 0s ;
    width: 30px;
}

.photo-gallery .flex-direction-nav li a.flex-prev,
.image-carousel .flex-direction-nav li a.flex-prev {
    margin-right: 10px;
}

.photo-gallery .flex-direction-nav li a.flex-prev:before,
.image-carousel .flex-direction-nav li a.flex-prev:before {
    content: "\f177";
    left: 8px;
}

.photo-gallery .flex-direction-nav li a.flex-next:before,
.image-carousel .flex-direction-nav li a.flex-next:before {
    content: "\f178";
    right: 9px;
}

/*BANNER & RIGHT CONTENT BANNER*/
.content-top {
    background-color: #fff;
    margin-bottom: 30px;
}

.tab-container-box ul.tabs:after {
    clear: both;
    content: "";
    display: table;
}

.tab-container-box ul.tabs {
    display: block;
}

.tab-container-box ul.tabs {
    margin: 0;
    padding: 0;
}

.tab-container-box ul.tabs.full-width li {
    display: table-cell;
    float: none;
    vertical-align: middle;
    width: 1%;
}

.tab-container-box ul.tabs li {
    float: left;
    padding-right: 4px;
}

.tab-container-box ul.tabs li:last-child {
    padding-right: 0;
}

.tab-container-box ul.tabs.full-width li a {
    padding: 0;
    text-align: center;
}

.tab-container-box ul.tabs li.active > a,
.tab-container-box ul.tabs li:hover > a {
    background: none repeat scroll 0 0 #fff;
    color: #01b7f2;
}

.tab-container-box ul.tabs li a {
    background: none repeat scroll 0 0 rgb(217, 217, 217);
    color: rgb(255, 255, 255);
    display: block;
    font-size: 1em;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.tab-container-box .tab-pane .box-title {
    font-size: 1.3em;
    margin-bottom: 1px;
    height: 19px;
    word-wrap: break-word;
    overflow-y: hidden;
    font-weight: lighter;
}

.tab-container-box .tab-pane .box-title:hover {
    color: #01b7f2;
}

.tab-container-box .tab-pane .info {
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    color: #b9b9b9;
}

.tab-container-box .tab-pane .info .viewer {
    /*font-weight: bold;*/
}

.tab-container-box .tab-pane article {
    border-bottom: 1px solid #f5f5f5;
}


/* END CONTENT CSS */

@media (max-width: 767px) {
    .flex-caption {
        padding: 10px;
        font-size: 13px;
    }

    div#content .container{
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
    }
}