body {
    color: #3e4d5c;
    font: 400 13px 'Open Sans', Arial, sans-serif;
    overflow-x: hidden;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #fafafa;
}


li {
    list-style: none; 
}

a {
    color: #3e4d5c;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a:active, a:focus {
    outline: none;
    text-decoration: none;
}


/*********************
 FONT COLOR
*********************/
.color-red { color: #e02222;}
.color-blue { color: #0da3e2;}
.color-grey { color: #555555;}
.color-green { color: #35aa47;}
.color-yellow { color: #ffb848;}
.color-purple { color: #852b99;}
.color-light-red { color: #ff5400;}
.color-light-blue { color: #bfd5fa;}
.color-light-grey { color: #fafafa;}
.color-light-green { color: #78df1d;}
.color-white { color: #fff !important;}


/*********************
 HEADING
*********************/
h1, h2, h3, h4, h5, h6 {
    color: #2d3e52;
    font-weight: 400;
    font-family: inherit;
}
h1.block, h2.block, h3.block, h4.block, h5.block, h6.block {
    padding-bottom: 10px;
}

h1{
    font-size: 24px;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 18px;
}

h4{
    font-size: 17px;
}

h5{
    font-size: 16px;
}

h6{
    font-size: 15px;
}

div#content{
    background: none repeat scroll 0 0 #f5f5f5;
    min-height: 400px;
    padding: 40px 0;
    text-align: left;
}

div#content .container{
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.full-width {
    width: 100% !important;
}

.green-bg {
    background-color: #98ce44 !important;
}

.dark-blue-bg {
    background-color: #2d3e52 !important;
}

button, a.button {
    border: medium none;
    color: #fff;
    cursor: pointer;
    padding: 0 15px;
    white-space: nowrap;
}

/*FORM ERROR AND SUCCESS*/
form div.error{
    font-size: 11px;
    border-radius: 0px;
    text-align: left;
    padding: 3px;
    margin-top: 5px;
    background-color: #D9534F;
    color: #fff;
    border: none;
}

form div.success{
    font-size: 11px;
    border-radius: 0px;
    text-align: left;
    padding: 3px;
    margin-top: 5px;
    background-color: #5CB85C;
    color: #fff;
    border: none;
}

form input.error, form textarea.error{
    border: 1px solid #D9534F !important;
}

form div.error a, form div.success a{
    color: #01b7f2;
    font-weight: bold;
    text-decoration: underline;
}