.tree-boxes, .two-boxes{
    margin-top:50px;
}
.profile-box{
}
.profile-box .profile-box-heading {
    padding: 12px 0;
}
.profile-box .profile-box-heading .glyphicon.radius{
    padding: 8px 8px 7px;
    border-radius: 20px !important;

}
.profile-box .profile-box-heading .glyphicon.radius.color-grey{
    border: solid #555555 2px;
}
.profile-box .profile-box-heading .glyphicon.radius.color-purple{
    border: solid #852b99 2px;
}
.profile-box .profile-box-heading .glyphicon{
    font-size: 21px;
}
.profile-box .profile-box-heading .profile-title{
    color: #444;
    font-size: 21px;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline-block;
}
.profile-box .profile-box-desc{
    color: #656565;
    font-size: 13px;
    background-color: #fff;
    padding: 10px 15px;
    line-height: 20px;
    overflow: hidden;
    height: 210px;
    border-bottom: solid #f5f5f5 1px;
    border-top: solid #f5f5f5 1px;
}
.readmore{
    margin-top: -1px;
}

/*********************
About-info
*********************/
h2, h2 a {
    color: #444;
    font-size: 21px;
    font-weight: 400;
    line-height: 26px;
    text-decoration: none;
}
.about-info{
    color:#000;
}
.front-lists-v1 li {
    font-size: 14px;
    margin-bottom: 5px;
}

/*********************
 Team
*********************/
.front-team ul {
    /*    padding: 4px 0 0;*/
    color:#000;
}
.front-team .thumbnail {
    border: none;
    background-color: transparent;
}
.front-team .thumbnail img{
    width: 100%;
}
.front-team h3 {
    margin: 10px 0 12px;
    line-height: 40px;
    color: #222;
}
.front-team h3 a {
    color: #0da3e2;
    font-size: 20px;
    font-weight: 400;
}
.front-team h3 small {
    display: block;
    font-size: 13px;
}
.front-team .social-icons {
    overflow: hidden;
}
.social-icons {
    padding: 0;
    margin: 0;
}
.social-icons li {
    float: left;
    display: inline;
    list-style: none;
    margin-right: 5px;
    margin-bottom: 5px;
    text-indent: -9999px;
}
.social-icons-color li a {
    opacity: 0.7;
    background-position: 0 -38px !important;
}
.social-icons-color li a:hover {
    opacity: 1;
}
.social-icons li a, a.social-icon {
    width: 28px;
    height: 28px;
    display: block;
    background-position: 0 0;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.social-icons .facebook {
    background: url(../img/icons/social/facebook.png) no-repeat;
}
.social-icons .twitter {
    background: url(../img/icons/social/twitter.png) no-repeat;
}
.social-icons .googleplus {
    background: url(../img/icons/social/googleplus.png) no-repeat;
}
element.style {
}
.social-icons-color li a:hover {
    opacity: 1;
}
.social-icons li:hover a {
    background-position: 0 -38px;
}
.social-icons .linkedin {
    background: url(../img/icons/social/linkedin.png) no-repeat;
}

/*********************
 Testimonial
*********************/
h1.block, h2.block, h3.block, h4.block, h5.block, h6.block {
    padding-bottom: 10px;
}
.testimonials-v1 .carousel {
    margin-bottom: 0;
}
.testimonials-v1  .carousel-inner>.item {
    display: none;
    position: relative;
    -webkit-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}
.testimonials-v1 .carousel-inner>.item.active {
    display: block;
}
.testimonials-v1 .item span.testimonials-slide {
    padding: 15px;
    color: #8a8a8a;
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
    background: #fff url(../img/corners.png) no-repeat right bottom;
}
.testimonials-v1 .item span.testimonials-slide {
    background: #fff url(../img/corners-blue.png) no-repeat right bottom;
}
.testimonials-v1 .carousel-info {
    overflow: hidden;
}
.testimonials-v1 .carousel-info {
    overflow: hidden;
    background: url(../img/arrow-testimonials.png) no-repeat 83px 0;
}
.testimonials-v1 .carousel-info span {
    display: block;
}
.testimonials-v1 span.testimonials-name {
    color: #0da3e2;
    font-size: 16px;
    font-weight: 300;
    margin: 23px 0 7px;
}
.testimonials-v1 span.testimonials-name {
    color: #0da3e2;
}
.testimonials-v1 span.testimonials-post {
    color: #656565;
    font-size: 12px;
}
.testimonials-nav{
    padding: 8px 8px 7px;
/*    border-radius: 20px !important;*/
    background-color: #428bca;
    color: #fff;
    font-size: 8px !important;
    margin-left: 10px;
    margin-top: 10px;
}
/*********************
 Testimonial
*********************/
.modal h4{
    color: #444;
    font-weight: 400;
}
.modal-body{
    color:#000;
}